*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-right: 110px;
}
h3{
    font-size: 50px;
    text-align: center;
    padding-top: 10%;
}
.chair{
    width: 400px;
    justify-content: space-evenly;
    
    
}
.text{
    color:black;
    padding-top:  10%;
    /* border: 3px solid blue; */
}
.text >h1{
    font-family: 'Montserrat', sans-serif;
font-size: 50px;
padding-bottom: 20px;
}
.text >p{
    font-family:'Montserrat', sans-serif;
}
#button{
    background-color: black;
    width:40%;
    height:50px;
    border-radius: 5px;
    color:white;
    padding: 8px 4px;
}
.chair >img{
    width: 400px;
    max-width: 100%;
}
.furniture{
    display: flex;
    padding-top: 6%;
    /* justify-content:  */
}
.confressroom{
    display: flex;
    padding-top: 15%;
    justify-content: space-evenly;
    /* height: 100vh; */
}
/* .table{ */
    /* width: 400px; */
    /* height: 40px; */
    /* justify-content: space-between; */

.table >img{
    /* width: 500px; */
    max-width: 100%;
    height: 100vh;
}
.topnavbar{
    position: absolute;
    left: 6%;
    top: 1%;
    border-bottom: 2px solid black;
    padding-bottom: 12px;
    padding-top: 20px;
    width: 90%;
    /* border: 2px solid black; */
    margin-right: 100%;
}


/* .sec{ */
    /* border:2px solid red; */
    /* height:100vh;am done ik sawa*/

.main{
    display: flex;
}
.text{
    /* border:2px solid blue; */
    background-color:#E6DFD9 ;
    width: 30%;
    /* width: 20%; */
    /* padding: 22.5%; */
    height:100vh;
}
.image{
    background-image: url("./andres-jasso-ssbgw3cKdXg-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: cover;
    /* border: 2px solid green; */
    background-size: 100% 100%;
    width: 70%;
}
.Percentage{ /*hii spelling ni wrong na chenye iko kwa html*/
    height: 100vh;

}
.black{
    background-color: black;
    color: white;
    /* width: 80px; */
    height: 50%;
    text-align: center;
    padding: 6px;
    margin-top: 15%;
    /* margin: 20px; */

}
.Mainbox{
    /* border: 2px solid blue; */
    height: 40vh;
    /* width: 30px; */
    display: flex;
    justify-content: space-around;
}
.minorbox{
    margin-bottom: 30px;
}
.room{
    height: 30%;
    width: 40%;
}
/* .smallbox{
    display: flex;
    justify-content: space-between;
}
#box2{
    height: auto;
    margin-right: 10%;
    border: 2px black;

}
#box3{
    margin-top: 20px;
    border: 3px solid yellow;
} */

